<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		@if (ViewData["Title"] == null)
		{
			@:CineAimane - Premium Cinema
		}
		else
		{
			@:@ViewData["Title"] - CineAimane
		}
	</title>
	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	@RenderSection("Styles", required: false)
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" asp-append-version="true">
</head>
<body class="bg-light text-black" data-bs-spy="scroll" data-bs-target="#navbar">
	@RenderSection("Header", required: false)
	@RenderBody()
	<footer class="bg-white border-top py-4">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h6 class="mb-0">&copy; @DateTime.Now.Year.ToString() <i class="fa-solid fa-clapperboard mx-1 text-primary"></i> CineAimane. All rights reserved.</h6>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://kit.fontawesome.com/9134952250.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>